In [90]:
import FinanceDataReader as fdr
import pandas as pd
import datetime
from dateutil.relativedelta import relativedelta

In [91]:
data = pd.read_excel('UNRATE.xls')

In [92]:
data

                   FRED Graph Observations Unnamed: 1
0            Federal Reserve Economic Data        NaN
1        Link: https://fred.stlouisfed.org        NaN
2    Help: https://fredhelp.stlouisfed.org        NaN
3               Economic Research Division        NaN
4        Federal Reserve Bank of St. Louis        NaN
..                                     ...        ...
894                    2021-09-01 00:00:00        4.7
895                    2021-10-01 00:00:00        4.6
896                    2021-11-01 00:00:00        4.2
897                    2021-12-01 00:00:00        3.9
898                    2022-01-01 00:00:00          4

[899 rows x 2 columns]

In [93]:
data.rename(columns = {'FRED Graph Observations':'Date', 'Unnamed: 1':'Rate'}, inplace=True)

In [94]:
type(data)
data = data[10:]
data.set_index('Date', inplace=True)

In [95]:
data['Rate'] = pd.to_numeric(data['Rate'], downcast='float')
type(data.index)
data.loc['2022-01-01']
mom = data.rolling(window=12).mean()

C:\Users\uleec\AppData\Local\Temp\ipykernel_13076\34457314.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Rate'] = pd.to_numeric(data['Rate'], downcast='float')

mom

In [96]:
mom

                Rate
Date
1948-01-01       NaN
1948-02-01       NaN
1948-03-01       NaN
1948-04-01       NaN
1948-05-01       NaN
...              ...
2021-09-01  5.991667
2021-10-01  5.800000
2021-11-01  5.591667
2021-12-01  5.358333
2022-01-01  5.158333

[889 rows x 1 columns]

In [97]:
def get_data(name, start_date, end_date):
    v = fdr.DataReader(name, start_date, end_date).resample('M').last()
    v.rename(columns = {'Close':name}, inplace=True)
    v.drop(['Open', 'High', 'Low', 'Volume', 'Change'], axis=1, inplace=True)
    return v

assets = ['IWD', 'GLD', 'IEF', 'QQQ', 'SPY', 'SHY']
assets_df = []
for n in assets:
    assets_df.append(get_data(n, '2000-01-01', '2021-12-31'))
assets_df_merged = pd.concat(assets_df, axis=1, join='inner')
assets_df_merged
len(assets_df_merged)

78

In [98]:


assets_df_merged.iloc[0]
assets_df_merged.index[0] - relativedelta(months=1)

Timestamp('2015-06-30 00:00:00', freq='M')

In [82]:
assets_df_merged.index

DatetimeIndex(['2015-07-31', '2015-08-31', '2015-09-30', '2015-10-31',
               '2015-11-30', '2015-12-31', '2016-01-31', '2016-02-29',
               '2016-03-31', '2016-04-30', '2016-05-31', '2016-06-30',
               '2016-07-31', '2016-08-31', '2016-09-30', '2016-10-31',
               '2016-11-30', '2016-12-31', '2017-01-31', '2017-02-28',
               '2017-03-31', '2017-04-30', '2017-05-31', '2017-06-30',
               '2017-07-31', '2017-08-31', '2017-09-30', '2017-10-31',
               '2017-11-30', '2017-12-31', '2018-01-31', '2018-02-28',
               '2018-03-31', '2018-04-30', '2018-05-31', '2018-06-30',
               '2018-07-31', '2018-08-31', '2018-09-30', '2018-10-31',
               '2018-11-30', '2018-12-31', '2019-01-31', '2019-02-28',
               '2019-03-31', '2019-04-30', '2019-05-31', '2019-06-30',
               '2019-07-31', '2019-08-31', '2019-09-30', '2019-10-31',
               '2019-11-30', '2019-12-31', '2020-01-31', '2020-02-29',
               '2020-03-31', '2020-04-30', '2020-05-31', '2020-06-30',
               '2020-07-31', '2020-08-31', '2020-09-30', '2020-10-31',
               '2020-11-30', '2020-12-31', '2021-01-31', '2021-02-28',
               '2021-03-31', '2021-04-30', '2021-05-31', '2021-06-30',
               '2021-07-31', '2021-08-31', '2021-09-30', '2021-10-31',
               '2021-11-30', '2021-12-31'],
              dtype='datetime64[ns]', name='Date', freq='M')

In [61]:
v = pd.concat([])

TypeError: merge() missing 1 required positional argument: 'right'